<!DOCTYPE html>
<html ng-app="myApp2">
<head>
    <meta charset="UTF-8">
    <title>Angular JS Custom Directive</title>
    <style>
        .intro {
            font-size: 150%;
            color: red;
        }
    </style>
    <script src="bower_components/angular/angular.js"></script>
    <script>
        //module
        var app=angular.module("myApp2",[]);
        app.controller("ctrl",function ($scope) {
            $scope.Name="Kiran Kumar controller";
            $scope.callMe=function () {
                alert("call me called");
            };
            $scope.colors=["red","blue","green","yellow"];
        });

       app.directive("compareWith",function () {
          var compareDir={};
           compareDir.restrict="A";
           compareDir.require="ngModel";
           compareDir.link=function (scope,element,attrs,ctrl) {
var passwordElmnt=document.getElementsByName(attrs.compareWith)[0];
              var passwordElmntJquery=angular.element(passwordElmnt);

               passwordElmntJquery.on("keyup",function () {
                   debugger;
                   var IsMatch=(passwordElmntJquery.val()===element.val());
                   ctrl.$setValidity("compare",IsMatch);
                   scope.$digest();
               });
               element.on("keyup",function () {
                   debugger;
                   var IsMatch=(passwordElmntJquery.val()===element.val());
                   ctrl.$setValidity("compare",IsMatch);
                   scope.$digest();
               });

           }
           return compareDir;
       });
    </script>
</head>
<body>

<div ng-controller="ctrl">
<form name="userForm" ng-submit="saveData(user)" novalidate>
    <div>
        Password:<input type="password" ng-model="user.password" name="password">
    </div>
    <div>
       Confirm Password:<input type="password" ng-model="user.confirmpassword" name="confirmpassword" compare-with="password">
        <p ng-show="userForm.confirmpassword.$error.compare">Confirm Password doesn't match</p>
    </div>
</form>
</div>
</body>
</html>