<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular JS Custom Directive</title>
    <script src="bower_components/angular/angular.js"></script>
    <script>
        //module
        var app=angular.module("myApp",[]);
        app.controller("ctrl",function ($scope) {
            $scope.Name="Kiran Kumar controller";
        });

       app.directive("myDir",function () {
var dir={};
           dir.restrict="EA";
           dir.scope=false;
           dir.template="<p>This is shared scope {{Name}}.<input type='text' ng-model='Name'></p>";

           dir.replace=true;
           return dir;
       });
    </script>
</head>
<body>
<div ng-controller="ctrl">
Parent:
    <p>
        <input type="text" ng-model="Name">
    </p>
<h2>Shared Scope</h2>
    <my-dir></my-dir>
</div>
</body>
</html>