<div class="panel panel-primary">
    <div class="panel-heading">
        {{student.name}} {{student.age}}
    </div>
    <div ng-show='!!student.subject'>
        Subjects:
        <ul ng-repeat="s in student.subject">
            <li>{{s}}</li>
        </ul>
        Grade:{{student.grade}}
    </div>
    <div ng-show="!!student.grade">
        Grade:{{student.grade}}
    </div>
    <div ng-show="!student.grade">
        <button class="btn btn-success" ng-click="setGrade(student)">set grade</button>
    </div>
</div>