<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Dependency App">
<head>
    <title>Angular Dependency Injection</title>
</head>
<script src="../Scripts/angular.js"></script>
<script src="../Angular/app.js"></script>
<script src="../Angular/mycontroller.js"></script>
<script src="../Angular/Service.js"></script>
<body ng-controller="dependCtrl">
     Enter a number:<input type="number" ng-model="number"><br/>
    <button ng-click="square()" title="Calculate Square">X<sup>2</sup></button><br/>
Result:{{result}}
<br/>
</body>
</html>
