<!DOCTYPE html>
<html ng-app="ServiceModule">
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<script src="../Scripts/angular.js"></script>
<body ng-controller="CalcCtrl">
    Enter Input1:<input type="number" ng-model="input1"><br />
    Enter Input2:<input type="number" ng-model="input2"><br />
    <input type="button" autofocus value="Submit" ng-click="add();counter=counter+1"  /><br />
    Result:{{result}}<br />
    Counter:{{counter}}
</body>
<script type="text/javascript">
    var app = angular.module("ServiceModule", []);
    app.factory("Calculator", function () {
        return {
            add: function (a, b) {
                return a + b;
            }
        }
    });
    function CalcController($scope, Calculator) {
        $scope.result = 0;
        $scope.add = function () {
            $scope.result = Calculator.add($scope.input1, $scope.input2);
        };
    }

    CalcController.$inject = ["$scope", "Calculator"];
    app.controller("CalcCtrl", CalcController);
</script>
</html>
