<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <title>Angular Controller</title>
    <script src="../Scripts/angular.js"></script>
    <script type="text/javascript">
        var mainApp = angular.module("mainApp", []);
        mainApp.controller("studentController",
        function ($scope) {
            $scope.student = {
                firstName: 'Kiran', lastName: 'Mohanty', fullName: function () {
                    var studentObject;
                    studentObject = $scope.student;
                    return studentObject.firstName + " " + studentObject.lastName;
                }
            };
        });

    </script>
</head>
<body>
    <div ng-controller="studentController">
        Enter First Name:<input type="text" ng-model="student.firstName"><br />
        Enter Last Name :<input type="text" ng-model="student.lastName"><br />
        You are entering :{{student.fullName()}}
    </div>
</body>
</html>
