<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-My Application</title>
</head>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<body>
    <div class="container body-content">
        @RenderBody()
          <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Application</p>
        </footer>
    </div>
</body>
</html>
