@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Dynamic Control";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Dynamic Control</title>
</head>
<style>
    yelloDiv {
        background: repeat;
        -moz-animation-fill-mode: both;
        -webkit-box-shadow: aqua;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    var counter = 1;
    $(function () {
        var container = $("#divContainer");
        container.before("<p>Click on the add button to add textbox(s).</p>");
        container.prepend("List of textbox(s)");
        container.after("Above is the list of textbox(s)");
        container.wrap("<b><b/>");
        $("#add").click(function () {
            debugger;
            container.append(getDynamicTextBoxes(''));
            initListener(counter);
            counter = counter + 1;
            container.children("div:odd").css("background-color", "#bbbbff");
            container.children("div:even").css("background-color", "aquamarine");
            container.attr("style", "font-size:16px;font-weight:bold;background:red");
        });
    });

    function submitData(parameters) {
        // $.post('')
    }

    function getDynamicTextBoxes(values) {
        debugger;
        var data = "<div id='" + ('div' + (counter)) + "'><input type='text' placeholder='Enter your text here' name='textbox' id='" + ('textbox' + (counter)) + "'/>&nbsp;" +
            "<input type='button' value='Remove' class='remove' id='" + ('btn' + (counter)) + "'><br/></div>";

        return data;
    }

    function initListener(id) {
        $("#btn" + id).click(function () {
            this.parentElement.remove();

        });
    }

    function getEvenData() {
        $("#divEven").html("");
        $("#divContainer").children("div:even").each(function () {
            debugger;
            $("#divEven").append($(this).children("input:text").val() + "<br/>");
        });
    }
    function getOddData() {
        $("#divOdd").html("");
        $("#divContainer").children("div:odd").each(function () {
            debugger;
            $("#divOdd").append($(this).children("input:text").val() + "<br/>");
        });
    }

</script>
<body>
    @using (Html.BeginForm())
    {
        if (TempData["Data"] != null)
        {
            foreach (var data in ((string[])TempData["Data"]))
            {
                Response.Write(data);
            }
            TempData.Keep();
        }
        <input type="button" name="Button" value="Add" id="add" />
        <div id="divContainer" class="field-validation-valid">
        </div>
        <input type="submit" name="Submit" value="Submit" />
        <input type="button" value="Get Even Data" onclick="getEvenData()" />
        <input type="button" value="Get Odd Data" onclick="getOddData()" />
        <div id="divOdd">
        </div>
        <div id="divEven">
        </div>
    }
</body>
</html>
